.button {
  background-color: rgba(5, 5, 7, 0.8);
  height: 40px;
  width: 256px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 8px;
  border-radius: 100px;
  opacity: 1;
}

.button > a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  text-align: center;
}

.button__white {
  background-color: white;
  opacity: 0.65;
}

.button__white > a {
  color: black;
}
